In [19]:
import pandas as pd
pd.set_option("display.max_rows", 999)
pd.set_option("display.max_columns", 999)
pd.set_option('display.max_rows', 999)
pd.set_option('display.min_rows', 999)

%config IPCompleter.use_jedi = False

In [35]:
grad = pd.read_csv('/Users/dave/src/CSE6242/LocalData/graduation_all.csv')
grad.columns = grad.columns.str.lower()
display(grad.shape)
display(grad.head())

grad['year'] = grad.srcyear.astype(str).str[:4]
display(grad.head())
grad = grad[grad.subgroup == 1.0]
grad.year = grad.year.astype('int')
display(grad.shape)
display(grad.year.value_counts())
display(grad.dtypes)

(419223, 13)

,district_cd,cohortye,total,gr_droppedout,gr_graduated,gr_iep,gr_ged,gr_stillenrolled,outcome_yrs,srcyear,subgroup,_name_,gr_local_cnt
0,10100,2013,658,148.0,464,16.0,0.0,30.0,6.0,201906,1.0,NaN,63.0
1,10100,2015,704,115.0,452,7.0,7.0,123.0,4.0,201906,1.0,NaN,44.0
2,10100,2014,678,140.0,474,14.0,7.0,43.0,5.0,201906,1.0,NaN,64.0
3,10100,2014,343,86.0,219,11.0,2.0,25.0,5.0,201906,2.0,NaN,34.0
4,10100,2015,362,66.0,211,5.0,5.0,75.0,4.0,201906,2.0,NaN,26.0

,district_cd,cohortye,total,gr_droppedout,gr_graduated,gr_iep,gr_ged,gr_stillenrolled,outcome_yrs,srcyear,subgroup,_name_,gr_local_cnt,year
0,10100,2013,658,148.0,464,16.0,0.0,30.0,6.0,201906,1.0,NaN,63.0,2019
1,10100,2015,704,115.0,452,7.0,7.0,123.0,4.0,201906,1.0,NaN,44.0,2019
2,10100,2014,678,140.0,474,14.0,7.0,43.0,5.0,201906,1.0,NaN,64.0,2019
3,10100,2014,343,86.0,219,11.0,2.0,25.0,5.0,201906,2.0,NaN,34.0,2019
4,10100,2015,362,66.0,211,5.0,5.0,75.0,4.0,201906,2.0,NaN,26.0,2019

(32256, 14)

2008    4800
2011    3434
2009    2750
2007    2136
2010    2065
2013    2061
2012    2061
2014    2050
2016    2048
2015    2046
2017    2046
2019    2037
2018    2037
2005     685
Name: year, dtype: int64

district_cd           int64
cohortye              int64
total                 int64
gr_droppedout       float64
gr_graduated          int64
gr_iep              float64
gr_ged              float64
gr_stillenrolled    float64
outcome_yrs         float64
srcyear               int64
subgroup            float64
_name_              float64
gr_local_cnt        float64
year                  int64
dtype: object

,district_cd,cohortye,total,gr_droppedout,gr_graduated,gr_iep,gr_ged,gr_stillenrolled,outcome_yrs,srcyear,subgroup,_name_,gr_local_cnt,year
0,10100,2013,658,148.0,464,16.0,0.0,30.0,6.0,201906,1.0,NaN,63.0,2019
1,10100,2015,704,115.0,452,7.0,7.0,123.0,4.0,201906,1.0,NaN,44.0,2019
2,10100,2014,678,140.0,474,14.0,7.0,43.0,5.0,201906,1.0,NaN,64.0,2019
3,10100,2014,343,86.0,219,11.0,2.0,25.0,5.0,201906,2.0,NaN,34.0,2019
4,10100,2015,362,66.0,211,5.0,5.0,75.0,4.0,201906,2.0,NaN,26.0,2019

(32256, 14)

2008    4800
2011    3434
2009    2750
2007    2136
2010    2065
2012    2061
2013    2061
2014    2050
2016    2048
2015    2046
2017    2046
2019    2037
2018    2037
2005     685
Name: year, dtype: int64

In [22]:
apm = pd.read_csv("/Users/dave/src/CSE6242/LocalData/apm_all.csv")
display(apm.shape)
display(apm.dtypes)
display(apm.head())

(54485, 7)

BEDSCODE         int64
YEAR             int64
COHORTYR         int64
COHORTCOUNT      int64
APMCOUNT       float64
APMP           float64
SUBGROUP         int64
dtype: object

   BEDSCODE  YEAR  COHORTYR  COHORTCOUNT  APMCOUNT       APMP  SUBGROUP
0     10100  2009      2006          703     106.0  15.078236         1
1     10100  2010      2007          766      83.0  10.835509         1
2     10100  2011      2008          712      99.0  13.904494         1
3     10100  2012      2009          654     101.0  15.443425         1
4     10100  2013      2010          594      93.0  15.656566         1

In [23]:
demo = pd.read_csv('/Users/dave/src/CSE6242/LocalData/Demographics_all.csv')
display(demo.shape)

display(demo.head())

(19897, 16)

,DISTRICT,YEAR,NUM_ASIAN,NUM_BLACK,NUM_HISP,NUM_AM_IND,NUM_WHITE,NUM_FEMALE,NUM_MALE,NUM_LEP,NUM_FREE_LUNCH,NUM_REDUCED_LUNCH,NUM_MULTI,NUM_SWD,NUM_ECDIS,NUM_ELL
0,10100,1993,255.0,4951.0,483.0,7.0,3555.0,4663.0,4588.0,133.0,4736.0,658.0,NaN,NaN,NaN,NaN
1,10100,1994,279.0,5106.0,520.0,13.0,3442.0,4644.0,4716.0,206.0,4762.0,672.0,NaN,NaN,NaN,NaN
2,10100,1995,365.0,5448.0,585.0,14.0,3296.0,4873.0,4835.0,260.0,5232.0,659.0,NaN,NaN,NaN,NaN
3,10100,1996,283.0,5809.0,603.0,25.0,3247.0,4933.0,5034.0,268.0,5058.0,575.0,NaN,NaN,NaN,NaN
4,10100,1997,278.0,6101.0,647.0,28.0,3196.0,5015.0,5235.0,300.0,5299.0,594.0,NaN,NaN,NaN,NaN

In [24]:
faru = pd.read_csv("/Users/dave/src/CSE6242/LocalData/FARU_all.csv")
# display(faru.dtypes)
display(faru.shape)
display(faru.head())

(16973, 57)

,DISTRICT,YEAR,UFB,STAID,STAR,TOTSTAT,LREV,FEDREV,TOTREV,STATE_AID_TOTAL_REVENUES,STAR_TOTAL_REVENUES,STATE_REVENUES_TOTAL_REVENUES,BDED,CADM,TSAL,PPS,CDS,BOC,TUI1,TUI2,OIS,OIEXP,CSER,OPMT,TCHR,HEAL,OEB,TOTAL_FRINGE_BENEFITS,OUND,OTH,SUBTOT,TRANS,DSP,DSI,TEXP,TOTAL_UNEXPENDED_SURPLUS_FUNDS_T,REVENUE_EXPENDITURES,VAR,DCAADM,REV_PUPIL,EXP_PUPIL,AV_TWPU,INC_TWPU,PWR,APWR,CWR,INSTRUCTIONAL_SALARIES,INSTRUCTIONAL_FRINGE_BENEFITS,INS_FB,ADJUSTED_EXPENDITURES__SUBTOTAL,IE1,IE1_TOTAL,IE2_INSTRUCTIONAL_EXPENDITURES_I,IE2,IE3_INSTRUCTIONAL_EXPENDITURES_I,IE3_ADJ_EXP,LOC_EFF_RATE
0,10100,1993,1854895,16934676,0,16934676,66488852,6383699,89807227,0.188567,0.0,0.188567,187184,1583988,33882163,2546298,3613746,4011008,221043,3114619,6647725,5683450,1339253,6780512,3403677,5664870,5184750,14253297,887100,0,84751386,3115662,2300000,887396,91054444,0.020371,-1247217,-0.013697,8953,10030.964705,10170.271864,314863,121430,1.036074,1.564820,1.300447,50700940,1.260194e+07,0.138400,84530343,59722610.0,0.655900,7.232454e+07,0.794300,7.210350e+07,0.852990,18.30
1,10100,1994,1253596,18655844,0,18655844,69707374,7203710,95566928,0.195212,0.0,0.195212,193367,1609206,35412977,2691674,3822080,4655808,205534,3984355,7618170,4936565,1710177,6861240,4003149,6242065,5322188,15567402,642166,88000,89998721,3678595,2253725,970292,96901333,0.012937,-1334405,-0.013771,8759,10910.712182,11063.058911,363204,109516,1.211488,1.314718,1.263103,54200709,1.377348e+07,0.142139,89793187,63325021.0,0.653500,7.709850e+07,0.795639,7.689297e+07,0.856334,19.07
2,10100,1995,1398955,21545196,0,21545196,72490778,8147305,102183279,0.210849,0.0,0.210849,267938,1599476,36201701,2947401,3941852,6579358,445417,3632318,7785606,4828453,1828114,7251365,4117988,6515104,5530798,16163890,716007,0,94188896,3458290,2438178,1501528,101586892,0.013771,596387,0.005871,9183,11127.439726,11062.495045,344376,101507,1.286906,1.197017,1.241961,57455918,1.429631e+07,0.140730,93743479,62284371.0,0.613114,7.658068e+07,0.753844,7.613527e+07,0.812166,19.82
3,10100,1996,1402273,20084276,0,20084276,74708484,7225772,102018532,0.196869,0.0,0.196869,243552,1405459,37198543,2989764,3526082,4827345,1485941,2732153,8181280,5457712,1540393,6977558,4429147,6609955,5496916,16536018,699266,456390,94257456,3488711,3338178,1847425,102931770,0.013623,-913238,-0.008872,9564,10666.931409,10762.418444,372462,110012,1.453794,1.303460,1.378627,56723014,1.468647e+07,0.142682,92315125,66398820.0,0.645100,8.108529e+07,0.787758,7.959935e+07,0.862257,20.42
4,10100,1997,352482,23464008,0,23464008,85967045,9033277,118464330,0.198068,0.0,0.198068,219819,1595867,39481700,2804435,3450981,2704356,2177596,2349377,9374857,6208024,1233231,7872617,2689624,7798594,6067174,16555392,3828654,0,99856906,4331038,3638178,1854989,109681111,0.003214,8783219,0.080080,10005,11840.512744,10962.629785,327175,96636,1.302967,1.164289,1.233628,57816329,1.485880e+07,0.135473,97679310,68551326.0,0.625000,8.341012e+07,0.760478,8.123253e+07,0.831625,23.37

In [25]:
df1 = pd.merge(apm, demo, 
               how='left', 
               left_on=["BEDSCODE", "YEAR"], 
               right_on=["DISTRICT", "YEAR"], 
               suffixes=["_apm", "_demo"])
display(df1.shape)
display(df1.head())

(54485, 22)

,BEDSCODE,YEAR,COHORTYR,COHORTCOUNT,APMCOUNT,APMP,SUBGROUP,DISTRICT,NUM_ASIAN,NUM_BLACK,NUM_HISP,NUM_AM_IND,NUM_WHITE,NUM_FEMALE,NUM_MALE,NUM_LEP,NUM_FREE_LUNCH,NUM_REDUCED_LUNCH,NUM_MULTI,NUM_SWD,NUM_ECDIS,NUM_ELL
0,10100,2009,2006,703,106.0,15.078236,1,10100.0,463.0,4834.0,946.0,44.0,1687.0,NaN,NaN,502.0,4015.0,676.0,5.0,NaN,NaN,NaN
1,10100,2010,2007,766,83.0,10.835509,1,10100.0,539.0,4874.0,1009.0,37.0,1697.0,NaN,NaN,534.0,4275.0,628.0,72.0,NaN,NaN,NaN
2,10100,2011,2008,712,99.0,13.904494,1,10100.0,597.0,4416.0,1095.0,34.0,1682.0,NaN,NaN,540.0,4785.0,546.0,148.0,NaN,NaN,NaN
3,10100,2012,2009,654,101.0,15.443425,1,10100.0,665.0,4205.0,1181.0,28.0,1708.0,3912.0,4088.0,609.0,4834.0,594.0,213.0,1161.0,6046.0,NaN
4,10100,2013,2010,594,93.0,15.656566,1,10100.0,746.0,4178.0,1294.0,30.0,1708.0,4053.0,4219.0,719.0,5652.0,342.0,316.0,1169.0,5994.0,NaN

In [26]:
df2 = pd.merge(df1, faru, 
              how='left', 
              left_on=["BEDSCODE", "YEAR"], 
              right_on=["DISTRICT", "YEAR"],
              suffixes=["_apm", "faru"])
df2.columns = df2.columns.str.lower()
display(df2.shape)
display(df2.head())

(54485, 78)

,bedscode,year,cohortyr,cohortcount,apmcount,apmp,subgroup,district_apm,num_asian,num_black,num_hisp,num_am_ind,num_white,num_female,num_male,num_lep,num_free_lunch,num_reduced_lunch,num_multi,num_swd,num_ecdis,num_ell,districtfaru,ufb,staid,star,totstat,lrev,fedrev,totrev,state_aid_total_revenues,star_total_revenues,state_revenues_total_revenues,bded,cadm,tsal,pps,cds,boc,tui1,tui2,ois,oiexp,cser,opmt,tchr,heal,oeb,total_fringe_benefits,ound,oth,subtot,trans,dsp,dsi,texp,total_unexpended_surplus_funds_t,revenue_expenditures,var,dcaadm,rev_pupil,exp_pupil,av_twpu,inc_twpu,pwr,apwr,cwr,instructional_salaries,instructional_fringe_benefits,ins_fb,adjusted_expenditures__subtotal,ie1,ie1_total,ie2_instructional_expenditures_i,ie2,ie3_instructional_expenditures_i,ie3_adj_exp,loc_eff_rate
0,10100,2009,2006,703,106.0,15.078236,1,10100.0,463.0,4834.0,946.0,44.0,1687.0,NaN,NaN,502.0,4015.0,676.0,5.0,NaN,NaN,NaN,10100.0,21418880.0,83680866.0,9285758.0,92966624.0,109899299.0,21809847.0,224675770.0,0.372452,0.041330,0.413781,400060.0,2066613.0,58943059.0,6310445.0,4771588.0,5478167.0,104636.0,8201820.0,17248933.0,36382684.0,361152.0,10917401.0,4012540.0,18984955.0,12591807.0,35589302.0,3202637.0,2416650.0,192395147.0,6389009.0,9137435.0,7631707.0,215553298.0,0.099367,9122472.0,0.042321,10929.0,20557.761003,19723.057736,370462.0,114589.0,0.696095,0.694479,0.695287,92752192.0,3.301978e+07,0.153186,190573861.0,137441332.0,0.637621,1.704611e+08,0.790807,1.703565e+08,0.893913,21.01
1,10100,2010,2007,766,83.0,10.835509,1,10100.0,539.0,4874.0,1009.0,37.0,1697.0,NaN,NaN,534.0,4275.0,628.0,72.0,NaN,NaN,NaN,10100.0,15586018.0,78024625.0,9583552.0,87608177.0,112564044.0,19445832.0,219618053.0,0.355274,0.043637,0.398912,479126.0,1842943.0,58529846.0,5805625.0,4490268.0,6077726.0,326886.0,7678209.0,16681345.0,41111625.0,63085.0,11040488.0,5768806.0,19033293.0,13574618.0,38376717.0,2607063.0,642815.0,195753767.0,6837068.0,8267608.0,7998064.0,218856507.0,0.071216,761546.0,0.003480,10805.0,20325.594910,20255.114021,413342.0,130510.0,0.692017,0.688707,0.690362,91584810.0,3.580966e+07,0.163622,195034066.0,140701530.0,0.642894,1.765112e+08,0.806516,1.761843e+08,0.903351,21.66
2,10100,2011,2008,712,99.0,13.904494,1,10100.0,597.0,4416.0,1095.0,34.0,1682.0,NaN,NaN,540.0,4785.0,546.0,148.0,NaN,NaN,NaN,10100.0,9870734.0,77571936.0,9910824.0,87482760.0,115023136.0,20095860.0,222601756.0,0.348479,0.044523,0.393001,473525.0,2127213.0,54505999.0,5987179.0,6014873.0,6352018.0,345252.0,7955727.0,17282369.0,44875488.0,64481.0,9747946.0,6690499.0,20831629.0,13633534.0,41155662.0,2778175.0,335000.0,200000907.0,7003734.0,12808228.0,8203792.0,228016661.0,0.043290,-5414905.0,-0.023748,11083.0,20084.973022,20573.550573,413037.0,121701.0,0.688969,0.704288,0.696629,90142438.0,4.029367e+07,0.176714,199655655.0,143318905.0,0.628546,1.836126e+08,0.805259,1.832673e+08,0.917917,23.62
3,10100,2012,2009,654,101.0,15.443425,1,10100.0,665.0,4205.0,1181.0,28.0,1708.0,3912.0,4088.0,609.0,4834.0,594.0,213.0,1161.0,6046.0,NaN,10100.0,11126885.0,78896894.0,10043685.0,88940579.0,112474700.0,18048067.0,219463346.0,0.359499,0.045765,0.405264,325897.0,2154827.0,54695438.0,5813313.0,6487015.0,6698965.0,239417.0,8384764.0,16073758.0,45809632.0,70610.0,9993918.0,7425220.0,18222368.0,13470912.0,39118500.0,2012565.0,620000.0,198498619.0,7637929.0,7838169.0,7605831.0,221580548.0,0.050216,-2117202.0,-0.009555,11103.0,19766.130415,19956.817797,413037.0,119840.0,0.699944,0.756088,0.728016,89768489.0,3.626647e+07,0.163672,197974202.0,144202302.0,0.650790,1.804688e+08,0.814461,1.802294e+08,0.910368,24.72
4,10100,2013,2010,594,93.0,15.656566,1,10100.0,746.0,4178.0,1294.0,30.0,1708.0,4053.0,4219.0,719.0,5652.0,342.0,316.0,1169.0,5994.0,NaN,10100.0,10313204.0,80293352.0,9997588.0,90290940.0,124812028.0,17462918.0,232565886.0,0.345250,0.042988,0.388238,414640.0,2098080.0,54967356.0,6168675.0,6819902.0,5994401.0,165778.0,7711240.0,16250345.0,47063417.0,57181.0,9787724.0,10437263.0,20144934.0,14203156.0,44785353.0,1925828.0,2517449.0,206727369.0,7905468.0,8158976.0,7273984.0,230065797.0,0.044827,2500089.0,0.010867,11218.0,20731.492780,20508.628722,399067.0,120523.0,0.710843,0.711890,0.711366,90200679.0,4.158251e+07,0.180742,204369142.0,145141114.0,0.630868,1.867236e+08,0.811610,1.865578e+08,0.912847,24.62

In [36]:
# join grad info now
df = pd.merge(df2, grad,
                   how='left',
                   left_on = ['bedscode', 'year'], 
                   right_on = ['district_cd', 'year'], 
                   suffixes = ['_apm', '_grad'])
display(df.shape)
display(df.head())
display(df.dtypes)

(189851, 91)

,bedscode,year,cohortyr,cohortcount,apmcount,apmp,subgroup_apm,district_apm,num_asian,num_black,num_hisp,num_am_ind,num_white,num_female,num_male,num_lep,num_free_lunch,num_reduced_lunch,num_multi,num_swd,num_ecdis,num_ell,districtfaru,ufb,staid,star,totstat,lrev,fedrev,totrev,state_aid_total_revenues,star_total_revenues,state_revenues_total_revenues,bded,cadm,tsal,pps,cds,boc,tui1,tui2,ois,oiexp,cser,opmt,tchr,heal,oeb,total_fringe_benefits,ound,oth,subtot,trans,dsp,dsi,texp,total_unexpended_surplus_funds_t,revenue_expenditures,var,dcaadm,rev_pupil,exp_pupil,av_twpu,inc_twpu,pwr,apwr,cwr,instructional_salaries,instructional_fringe_benefits,ins_fb,adjusted_expenditures__subtotal,ie1,ie1_total,ie2_instructional_expenditures_i,ie2,ie3_instructional_expenditures_i,ie3_adj_exp,loc_eff_rate,district_cd,cohortye,total,gr_droppedout,gr_graduated,gr_iep,gr_ged,gr_stillenrolled,outcome_yrs,srcyear,subgroup_grad,_name_,gr_local_cnt
0,10100,2009,2006,703,106.0,15.078236,1,10100.0,463.0,4834.0,946.0,44.0,1687.0,NaN,NaN,502.0,4015.0,676.0,5.0,NaN,NaN,NaN,10100.0,21418880.0,83680866.0,9285758.0,92966624.0,109899299.0,21809847.0,224675770.0,0.372452,0.041330,0.413781,400060.0,2066613.0,58943059.0,6310445.0,4771588.0,5478167.0,104636.0,8201820.0,17248933.0,36382684.0,361152.0,10917401.0,4012540.0,18984955.0,12591807.0,35589302.0,3202637.0,2416650.0,192395147.0,6389009.0,9137435.0,7631707.0,215553298.0,0.099367,9122472.0,0.042321,10929.0,20557.761003,19723.057736,370462.0,114589.0,0.696095,0.694479,0.695287,92752192.0,3.301978e+07,0.153186,190573861.0,137441332.0,0.637621,1.704611e+08,0.790807,1.703565e+08,0.893913,21.01,10100.0,2004.0,677.0,122.0,453.0,41.0,7.0,54.0,5.0,200906.0,1.0,NaN,NaN
1,10100,2009,2006,703,106.0,15.078236,1,10100.0,463.0,4834.0,946.0,44.0,1687.0,NaN,NaN,502.0,4015.0,676.0,5.0,NaN,NaN,NaN,10100.0,21418880.0,83680866.0,9285758.0,92966624.0,109899299.0,21809847.0,224675770.0,0.372452,0.041330,0.413781,400060.0,2066613.0,58943059.0,6310445.0,4771588.0,5478167.0,104636.0,8201820.0,17248933.0,36382684.0,361152.0,10917401.0,4012540.0,18984955.0,12591807.0,35589302.0,3202637.0,2416650.0,192395147.0,6389009.0,9137435.0,7631707.0,215553298.0,0.099367,9122472.0,0.042321,10929.0,20557.761003,19723.057736,370462.0,114589.0,0.696095,0.694479,0.695287,92752192.0,3.301978e+07,0.153186,190573861.0,137441332.0,0.637621,1.704611e+08,0.790807,1.703565e+08,0.893913,21.01,10100.0,2003.0,585.0,87.0,431.0,40.0,13.0,14.0,6.0,200906.0,1.0,NaN,NaN
2,10100,2009,2006,703,106.0,15.078236,1,10100.0,463.0,4834.0,946.0,44.0,1687.0,NaN,NaN,502.0,4015.0,676.0,5.0,NaN,NaN,NaN,10100.0,21418880.0,83680866.0,9285758.0,92966624.0,109899299.0,21809847.0,224675770.0,0.372452,0.041330,0.413781,400060.0,2066613.0,58943059.0,6310445.0,4771588.0,5478167.0,104636.0,8201820.0,17248933.0,36382684.0,361152.0,10917401.0,4012540.0,18984955.0,12591807.0,35589302.0,3202637.0,2416650.0,192395147.0,6389009.0,9137435.0,7631707.0,215553298.0,0.099367,9122472.0,0.042321,10929.0,20557.761003,19723.057736,370462.0,114589.0,0.696095,0.694479,0.695287,92752192.0,3.301978e+07,0.153186,190573861.0,137441332.0,0.637621,1.704611e+08,0.790807,1.703565e+08,0.893913,21.01,10100.0,2005.0,718.0,152.0,350.0,36.0,6.0,174.0,4.0,200906.0,1.0,NaN,NaN
3,10100,2009,2006,703,106.0,15.078236,1,10100.0,463.0,4834.0,946.0,44.0,1687.0,NaN,NaN,502.0,4015.0,676.0,5.0,NaN,NaN,NaN,10100.0,21418880.0,83680866.0,9285758.0,92966624.0,109899299.0,21809847.0,224675770.0,0.372452,0.041330,0.413781,400060.0,2066613.0,58943059.0,6310445.0,4771588.0,5478167.0,104636.0,8201820.0,17248933.0,36382684.0,361152.0,10917401.0,4012540.0,18984955.0,12591807.0,35589302.0,3202637.0,2416650.0,192395147.0,6389009.0,9137435.0,7631707.0,215553298.0,0.099367,9122472.0,0.042321,10929.0,20557.761003,19723.057736,370462.0,114589.0,0.696095,0.694479,0.695287,92752192.0,3.301978e+07,0.153186,190573861.0,137441332.0,0.637621,1.704611e+08,0.790807,1.703565e+08,0.893913,21.01,10100.0,2005.0,718.0,152.0,379.0,36.0,6.0,145.0,4.8,200906.0,1.0,NaN,NaN
4,10100,2010,2007,766,83.0,10.835509,1,10100.0,539.0,4874.0,1009.0,37.0,1697.0,NaN,NaN,534.0,4275.0,628.0,72.0,NaN,NaN,NaN,10100.0,15586018.0,78024625.0,9583552.0,87608177.0,112564044.0,19445832.0,219618053.0,0.355274,0.043637,0.398912,479126.0,1842943.0,58529846.0,5805625.0,4490268.0,6077726.0,326886.0,7678209.0,16681345.0,41111625.0,63085.0,11040488.0,5768806.0,19033293.0,13574618.0,38376717.0,2607063.0,642815.0,195753767.0,6837068.0,8267608.0,7998064.0,218856507.0,0.071216,761546.0,0.003480,10805.0,20325.594910,20255.114021,413342.0,130510.0,0.692017,0.688707,0.690362,91584810.0,3.580966e+07,0.163622,195034066.0,140701530.0,0.642894,1.765112e+08,0.806516,1.761843e+08,0.903351,21.66,10100.0,2005.0,719.0,192.0,427.0,44.0,3.0,53.0,5.0,201006.0,1.0,NaN,NaN

bedscode                              int64
year                                  int64
cohortyr                              int64
cohortcount                           int64
apmcount                            float64
apmp                                float64
subgroup_apm                          int64
district_apm                        float64
num_asian                           float64
num_black                           float64
num_hisp                            float64
num_am_ind                          float64
num_white                           float64
num_female                          float64
num_male                            float64
num_lep                             float64
num_free_lunch                      float64
num_reduced_lunch                   float64
num_multi                           float64
num_swd                             float64
num_ecdis                           float64
num_ell                             float64
districtfaru                        float64
ufb                                 float64
staid                               float64
star                                float64
totstat                             float64
lrev                                float64
fedrev                              float64
totrev                              float64
state_aid_total_revenues            float64
star_total_revenues                 float64
state_revenues_total_revenues       float64
bded                                float64
cadm                                float64
tsal                                float64
pps                                 float64
cds                                 float64
boc                                 float64
tui1                                float64
tui2                                float64
ois                                 float64
oiexp                               float64
cser                                float64
opmt                                float64
tchr                                float64
heal                                float64
oeb                                 float64
total_fringe_benefits               float64
ound                                float64
oth                                 float64
subtot                              float64
trans                               float64
dsp                                 float64
dsi                                 float64
texp                                float64
total_unexpended_surplus_funds_t    float64
revenue_expenditures                float64
var                                 float64
dcaadm                              float64
rev_pupil                           float64
exp_pupil                           float64
av_twpu                             float64
inc_twpu                            float64
pwr                                 float64
apwr                                float64
cwr                                 float64
instructional_salaries              float64
instructional_fringe_benefits       float64
ins_fb                              float64
adjusted_expenditures__subtotal     float64
ie1                                 float64
ie1_total                           float64
ie2_instructional_expenditures_i    float64
ie2                                 float64
ie3_instructional_expenditures_i    float64
ie3_adj_exp                         float64
loc_eff_rate                        float64
district_cd                         float64
cohortye                            float64
total                               float64
gr_droppedout                       float64
gr_graduated                        float64
gr_iep                              float64
gr_ged                              float64
gr_stillenrolled                    float64
outcome_yrs                         float64
srcyear                             float64
subgroup_grad                       float64
_name_                              float64
gr_local_cnt                        float64
dtype: object

In [37]:
df.to_csv("/Users/dave/src/CSE6242/Data/apm_demo_faru_grad.csv")